---
layout: single
title: Years
---

<!-- Begin List Posts
================================================== -->
<section class="recent-posts">
<h2 class="archive__subtitle">Archive of posts from <span>{{ page.type }} '{{ page.title }}'</span></h2>
<div class="entries-{{ entries_layout }}">

{% for post in site.posts %}
{% assign postyear = post.date | date: "%Y" %}
{% if postyear == page.year %}
    {% include archive-single.html type=entries_layout %}
{% endif %}    

{% endfor %}

</div>
</section>
