---
layout: single
title: Categories
---

<!-- Begin List Posts
================================================== -->
<section class="recent-posts">
<h2 class="archive__subtitle">Archive of posts from <span>{{ page.type }} '{{ page.title }}'</span></h2>
<div class="entries-{{ entries_layout }}">

{% for post in site.posts %}
{% if post.categories contains page.category or post.category == page.category %}
    {% include archive-single.html type=entries_layout %}
{% endif %}    

{% endfor %}

</div>
</section>
